<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="IPersonSvc" value="Service.PersonSvcImpl"/>
    <add key="IFatherSvc" value="Service.FatherSvcImpl"/>
    <add key="IMotherSvc" value="Service.MotherSvcImpl"/>
    <add key="IListSvc" value="Service.ListSvcImpl"/>
    <add key="IUserSvc" value="Service.UserSvcImpl"/>
    <add key="ILoginSvc" value="Service.LoginSvcImpl"/>
  </appSettings>
  <connectionStrings>
    <add name="GenealogyModelContainer" connectionString="metadata=res://*/GenealogyModel.csdl|res://*/GenealogyModel.ssdl|res://*/GenealogyModel.msl;provider=System.Data.SqlClient;provider connection string='data source=.;data source=.;initial catalog=GenealogyDB;integrated security=true;MultipleActiveResultSets=True;App=EntityFramework'" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>